@import url( 'https://fonts.googleapis.com/css?family=Comfortaa:700|Nunito+Sans:400,800');

/*----------------------GLOBAL---------------------------------------*/
.sharp-border {
  border-radius: 0 !important;
}

body {
  font-family: 'Nunito Sans', sans-serif !important;
}


/*-----------------------NAVBAR-------------------------------------*/
nav {
  background-color: rgb(255, 255, 255) !important;
}

.navbar-brand {
  font-family: 'Comfortaa', cursive;
  font-weight: 700;
  font-size: 25px;
  transition-duration: 300ms;
}

.navbar-brand:hover {
  color: blueviolet !important;
  transition-duration: 300ms;
}

.navbar-brand:hover > #navbar-R {
  color: lightsalmon !important;
  transition-duration: 300ms;
}

#navbar-R {
  transition-duration: 300ms;
}

@media screen and (min-width: 1000px) {
  nav {
    padding-left: 100px !important;
    padding-right: 100px !important;
  }
}

/*--------------------JUMBOTRON----------------------------------*/

#box-color {
  background-color: rgba(84, 79, 123, 1);
}

.jumbotron {
  padding: 40px;
  margin-bottom: 0;
}

#jumbotron-wrapper {
  padding: 0;
}
@media screen and (min-width: 1000px) {
  .jumbotron {
    padding-left: 100px !important;
    padding-right: 100px !important;
  }
}

.header-info > h1 {
  font-weight: 800;
  line-height: 1.7em;
}

.header-info > * > mark {
  background-color: rgba(6, 3, 61, 0.90);
  padding: 6px 20px;
  color: white;
}

/*-------------------LISTINGS-CONTAINER------------------------------------*/

#postings {
  background-color: #E6F4F8;
  padding: 2rem 2rem 50px;
}
@media screen and (min-width: 1000px) {
  #postings {
    padding-left: 100px !important;
    padding-right: 100px !important;
  }
}

/*------------------------LISITNG-BOX-----------------------------*/

.panel {
  background-color: white;
  border-top-width: 7px;
  border-top-color: #69639a;
  border-top-style: solid;
  transition: .2s ease-in;
  padding: 20px;
  margin-top: 20px;
  max-width: 500px;
  margin: auto;
}

.panel-wide {
  background-color: white;
  border-top-width: 7px;
  border-top-color: #69639a;
  border-top-style: solid;
  transition: .2s ease-in;
  padding: 20px;
  margin-top: 20px;
  max-width: 800px;
  margin: auto;
}

.panel:hover {
  transition: .2s ease-in;
  box-shadow: 0 10px 15px 0 rgba(0, 0, 0, 0.087);
}

.panel-heading {
  font-size: 1.2rem;
  line-height: 1.4;
  margin-bottom: .625rem;
}


.panel-body {
  padding-top: 10px;
  color: grey;
  line-height: 1.5;
}

.btn-center {
  width: 100%;
  text-align: center;
}

/*-------------------FORMS--------------------------------*/

/* Removing the spinner on <input type="number" /> */
input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance:textfield;
}

/*------------------FOOTER--------------------------------*/

.footer-list {
  padding: 20px 0px !important;
}

a:hover {
  text-decoration: none;
}

@media screen and (min-width: 1000px) {
  .footer-list {
    padding-left: 100px !important;
    padding-right: 100px !important;
  }
}

@media screen and (max-width: 1000px) {
  .footer-list {
    padding-left: 100px !important;
    padding-right: 100px !important;
  }
}

code {
  color: black;
}

.no-padding {
  padding: 0;
}
