<footer class="footer-list">
    <div class="row">
        <div class="col-sm-6">
           <a href="/about">Meet the Team</a>
        </div>

        <div class="col-sm-6 text-right no-padding">
            <code>&lt;&gt; </code>by LikeLion at UCLA
        </div>
    </div>
</footer>
