<!-- Not implemented yet
<center>
    <p class="my-2">- OR -</p> 
    <a href="/auth/twitter">
        <button class="btn btn-primary sharp-border center">
            <i class="fab fa-twitter"></i> Log in with Twitter
        </button>
    </a>
</center>

-->